{% extends "admin/base_site.html" %}

{% load i18n static %}

{% block extrahead %}
<script type="text/javascript" src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization','version':'1.1','packages':['corechart', 'timeline']}]}"></script>

<script src="{% static 'trackstats/js/graphs.js' %}"></script>
<link rel="stylesheet"  href="{% static 'trackstats/css/admin.css' %}">
{% endblock %}

{% block content %}

<form class="trackstats-graph" action="" method="get" >
  <div>
    {{ form.metric }}
    {{ form.metric.errors }}
  </div>
  <div>
    {{ form.period }}
    {{ form.period.errors }}
  </div>
  <div>
    {{ form.from_date }}
    {{ form.from_date.errors }}
  </div>
  <div>
    {{ form.to_date }}
    {{ form.to_date.errors }}
  </div>
  {% block graph_form_fields %}
  {% endblock %}
  <button type="submit">{% trans 'Go' %}</button>
</form>


{% if form.is_valid %}
<script>
  var graphData = [
    {% for stat in statistics %}
    [{{ stat.js_date }}, {{ stat.value }}],
    {% endfor %}
  ];

  var hAxisGridlines = graphData.length;
  if (hAxisGridlines < 1) hAxisGridlines = 7;

  var horizontalAxis = {
    format: 'yyyy-M-d',
    gridlines: {count: hAxisGridlines}
  };

  // Get the min and max Date values for the x-axis
  if (graphData.length > 0) {
    horizontalAxis["minValue"] = new Date(Date.parse(graphData[0][0]));
    horizontalAxis["maxValue"] = new Date(Date.parse(graphData[graphData.length-1][0]));
  }

  var graphOptions = {
    title: '{{ form.cleaned_data.metric.name }}',
    width: "100%",
    height: 500,
    hAxis: horizontalAxis,
    vAxis: {
      gridlines: {color: 'none'},
      minValue: 0
    }
  };

</script>

<div id="trackstats-graph"></div>

{% endif %}

{% endblock %}
